[user]
        name = Sufiane
        email = su.souissi@gmail.com
        signingkey = F7BC8F5D6EE71DA7
[color]
    ui = auto
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    safecrlf = true
        pager = diff-so-fancy | less --tabs=4 -RFX
        excludesfile = /Users/sufianeakadiego/.gitignore_global
    #j'aurais pu changer pour tail, more, etc
[alias]
    st = status
    ci = commit -S
    br = branch
    df = ! git diff -u | diff-so-fancy
    co = checkout
    lp = log -p
    lt = log --topo-order
    gl = log --graph
    glt = log --pretty=format:'%h : %s' --topo-order --graph
    rl = reflog
    sb = show-branch
    brm = branch --merged
    brnm = branch --no-merged
    ls = ls-files
    pu = pull
    serve = daemon --reuseaddr --base-path=. --export-all --verbose
    unpushed = log --branches --not --remotes --decorate --oneline
    # feel free to change the branches name if needed
    cleanup = "!git branch --merged dev | grep -E -v 'master|dev' | xargs git branch -d"
    cleanup-master = "!git branch --merged master | grep -E -v 'master|dev' | xargs git branch -d"
[branch]
    #git pull --rebase

[rerere]
        # If, like me, you like rerere, decomment these
        # autoupdate = true
        enabled = true
[pull]
        rebase = true
[interactive]
        diffFilter = diff-so-fancy --patch
[pager]
        branch = false
        log = false
        tag = false
        diff = true

[commit]
        gpgsign = true
[gpg]
        program = gpg
